@model List<UserDetails>
@{
    Layout = "_HomeLayout";
}

<div class="pc-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="page-header-title">
                <h5 class="mb-0 font-medium">Default</h5>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="../dashboard/index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
                <li class="breadcrumb-item" aria-current="page">Default</li>
            </ul>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="grid grid-cols-12 gap-x-6">
        
        <div class="col-span-12 xl:col-span-12 md:col-span-12">
            <div class="card table-card">
                <div class="card-header">
                    <h5>Users Details</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="unread">
                                    <td class="col-2">
                                        <h6 class="mb-1">Picture</h6>
                                    </td>
                                    <td class="col-4">
                                        <h6 class="mb-1">Email</h6>
                                    </td>
                                    <td class="col-4">
                                        <h6 class="mb-1">Phone Number</h6>
                                    </td>
                                    <td class="col-2">
                                        Action
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model!= null)
                                {
                                    foreach (var data in Model)
                                    {
                                        <tr class="unread">
                                            <td>
                                                @if (data.ProfilePic != null && data.ProfilePic.Length>0)
                                                {
                                                    //<img class="rounded-full max-w-10" style="width: 40px" src="~/ProfilePicFolder/@data.ProfilePic" />
                                                    <img class="rounded-full max-w-10" style="width: 40px" src="@Url.Content("~/ProfilePicFolder/" + (data.ProfilePic ?? "default.png"))" />
                                                }
                                                else
                                                {
                                                    <img class="rounded-full max-w-10" style="width: 40px" src="~/assets/images/user/avatar-2.jpg" alt="activity-user" />
                                                }
                                            </td>
                                            <td>
                                                <h6 class="mb-1">@data.Email</h6>

                                            </td>
                                            <td>
                                                <h6 class="mb-1">@data.PhoneNumber</h6>

                                            </td>
                                            <td>

                                                <a href="#!" onclick="GetUser(@data.Id)"  class="badge bg-primary-100 text-white text-[12px]">Update</a>
                                                @if (data.IsActive == true)
                                                {
                                                    <a href="~/Home/DeleteRestoreUser/@data.Id" id="@data.Id" class="badge bg-danger-400 text-white text-[12px] mx-2">Delete</a>
                                                }
                                                else
                                                {
                                                    <a href="~/Home/DeleteRestoreUser/@data.Id" class="badge bg-success-400 text-white text-[12px] mx-2">Restore</a>
                                                }

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="unread">
                                        <td>No Data Found</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
</div>
@* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" >Open modal for</button> *@

@* User Update Modal *@
<div class="modal fade" id="UserDetailModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">User Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                    <div class="mb-3">
                        <label for="ModalEmail" class="col-form-label">Email:</label>
                        <input readonly type="text" class="form-control" id="ModalEmail">
                    </div>
                    <div class="mb-3">
                        <label for="ModalNumber" class="col-form-label">Phone Number:</label>
                        <input type="number" maxlength="11" class="form-control" id="ModalNumber">
                    </div>
                <div class="mb-3">
                    <img src="~/assets/images/profile/bg-2.jpg" id="ShowProfileImg" class="img-thumbnail" alt="...">
                    <input type="file" id="ProfilePic" class="form-control my-2">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="UpdateDetails" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

<script src="~/CustomJS/UserDetails.js"></script>
