@model List<ProductList>
@{
     Layout = "_HomeLayout";
}
<div class="pc-content">

    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="grid grid-cols-12 gap-x-6">

        <div class="col-span-12 xl:col-span-12 md:col-span-12">
            <div class="card table-card">
                <div class="card-header">
                    <h5>Products</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="unread">
                                    <td class="col-2">
                                        <h6 class="mb-1">Picture</h6>
                                    </td>
                                    <td class="col-4">
                                        <h6 class="mb-1">Name</h6>
                                    </td>
                                    <td class="col-2">
                                        <h6 class="mb-1">Quantity</h6>
                                    </td>
                                    <td class="col-1">
                                        <h6 class="mb-1">Price</h6>
                                    </td>
                                    <td class="col-1">
                                        <h6 class="mb-1">Added By</h6>
                                    </td>
                                    <td class="col-2">
                                        Action
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {

                                    foreach (var data in Model)
                                    {
                                        <tr class="unread">
                                            <td>
                                                @if (data.ItemPicture != null && data.ItemPicture.Length > 0)
                                                {
                                                    <img class="rounded-full max-w-10" style="width: 40px" src="~/assets/images/user/avatar-2.jpg" alt="activity-user" />
                                                    //<img class="rounded-full max-w-10" style="width: 40px" src="~/ProfilePicFolder/@data.ProfilePic" />
                                                    //<img class="rounded-full max-w-10" style="width: 40px" src="@Url.Content("~/ProfilePicFolder/" + (data.ItemPicture ?? "default.png"))" />
                                                }
                                                else
                                                {
                                                    <img class="rounded-full max-w-10" style="width: 40px" src="~/assets/images/user/avatar-2.jpg" alt="activity-user" />
                                                }
                                            </td>
                                            <td>
                                                <h6 class="mb-1">@data.Name</h6>

                                            </td>
                                            <td>
                                                <h6 class="mb-1">@data.Quantity</h6>

                                            </td>
                                            <td>
                                                <h6 class="mb-1">@data.Price</h6>

                                            </td>
                                            <td>
                                                <h6 class="mb-1">@data.AddedBy</h6>

                                            </td>
                                            <td>

                                                <a href="#!" onclick="GetUser(@data.Id)" class="badge bg-primary-100 text-white text-[12px]">Update</a>
                                                <a href="~/Home/DeleteRestoreUser/@data.Id" id="@data.Id" class="badge bg-danger-400 text-white text-[12px] mx-2">Delete</a>
                                                @*  @if (data.IsActive == true)
                                                {
                                                    <a href="~/Home/DeleteRestoreUser/@data.Id" id="@data.Id" class="badge bg-danger-400 text-white text-[12px] mx-2">Delete</a>
                                                }
                                                else
                                                {
                                                    <a href="~/Home/DeleteRestoreUser/@data.Id" class="badge bg-success-400 text-white text-[12px] mx-2">Restore</a>
                                                } *@

                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="unread">
                                        <td>@ViewData["ErrorMessage"].ToString()</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
</div>